<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <link href="{{constant('ECweb\\Bootstrap::ENTRY_URL')}}css/style.css" rel="stylesheet">
    <title>会員登録確認</title>
  </head>

  <body>
    <header>
      {% include 'header_unlogin_top.html.twig' %}
    </header>

    <div class = "page_body">
      <form method="post" action="confirm.php">
        <div = "mem_info_list">
          <table>
            <tr>
              <th>お名前（氏名）</th>
              <td>{{dataArr.family_name}}{{dataArr.first_name}}</td>
            </tr>
            <tr>
              <th>お名前（かな）</th>
              <td>{{dataArr.family_name_kana}}{{dataArr.first_name_kana}}</td>
            </tr>
            <tr>
              <th>性別</th>
              <td>{% if dataArr.sex == '1' %}男性{% elseif dataArr.sex == '2' %}女性{% endif %}</td>
            </tr>
            <tr>
              <th>生年月日</th>
              <td>{{dataArr.year}}年{{dataArr.month}}月{{dataArr.day}}日</td>
            </tr>
            <tr>
              <th>郵便番号</th>
              <td>{{dataArr.zip1}} - {{dataArr.zip2}}</td>
            </tr>
            <tr>
              <th>住所</th>
              <td>{{dataArr.address}}</td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td>{{dataArr.email}}</td>
            </tr>
            <tr>
              <th>電話番号</th>
              <td>{{dataArr.tel1}} - {{dataArr.tel2}} - {{dataArr.tel3}}</td>
            </tr>
            <tr>
              <th>個人情報取扱い</th>
              <td>{% if dataArr.agree | length >0 %}同意する{% endif %}</td>
            </tr>
            <tr>
              <th>パスワード登録</th>
              <td>非表示</td>
            </tr>
          </table>
        </div>

        <div>
          <input type="submit" name="back" value="戻る">
          <input type="submit" name="complete" value="登録完了">

          {% for key, value in dataArr %}
          <!-- iterable　配列かどうかをチェックする -->
          {% if value is iterable %}
          {% for v in value %}
          <input type="hidden" name="{{key}}[]" value="{{v}}">
          {% endfor %}
          {% else %}
          <input type="hidden" name="{{key}}" value="{{value}}">
          {% endif %}
          {% endfor %}
        </div>
      </form>
    </div>

    <div>
      {% include 'footer.html.twig' %}
    </div>
  </body>
</html>