
<html lang="ja">
<meta charset ="utf-8">

<body>
  <div class = "top">
      <h1><a href = "{{constant('ECweb\\Bootstrap::ENTRY_URL_SHOP')}}item_list.php"><img src="{{constant('ECweb\\Bootstrap::ENTRY_URL')}}img/logo.png" alt="logo画像"></a></h1>

    <div id = "header_person">こんにちは、ゲスト様 <a href="{{constant('ECweb\\Bootstrap::ENTRY_URL_LOGIN')}}login.php"><small>ログイン</small></a></div>
  </div>

    <nav id="groval_navi">
      <ul>
        <li><a href="{{constant('ECweb\\Bootstrap::ENTRY_URL_LOGIN')}}login.php">ログイン</a></li><li><a href="{{constant('ECweb\\Bootstrap::ENTRY_URL_SHOP')}}inquiry_form.php">お問合せ</a></li><li><a href="{{constant('ECweb\\Bootstrap::ENTRY_URL_SHOP')}}cart.php">カート</a></li><li><a href="{{constant('ECweb\\Bootstrap::ENTRY_URL_SHOP')}}item_list.php">トップ</a></li>
      </ul>
    </nav>
