<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{{constant('ECweb\\Bootstrap::ENTRY_URL')}}css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <title>南国農園</title>
  </head>
  
  <body>
    <header>
      {% if session.family_name is empty %}
      {% include 'header_unlogin_top.html.twig' %}
      {% else %}
      {% include 'header_login_top.html.twig' %}
      {% endif %}
    </header>

  <!-- ログイン 共通部分 main_visual-->
    <div id = "main_visual">
      <img src = "{{constant('ECweb\\Bootstrap::ENTRY_URL')}}images/IMG_3052.jpeg" alt="宮崎の太陽をたくさん浴びた山の幸をあなたにお届けします">
    </div>
    
  <!-- 非ログイン/ログイン 共通部分 lead -->
    <section id = "lead">
      <h2>宮崎の農作物をお届けします</h2>
      <div>宮崎県は九州の南東部に位置し、温暖な気候に恵まれた「太陽と緑の国」です。<br>
      野菜、果物、牛肉、鶏肉、お米など宮崎の自然から育まれた幸を産地より直送いたします。<br></div>
        <div></div>
    </section>

  <!-- 非ログイン/ログイン 共通部分 searchbar -->
    <div id = "search">
      <form id= "search_bar" action="{{constant('ECweb\\Bootstrap::ENTRY_URL_SHOP')}}item_list.php?item_name={{result.item_name}}" >
        <table>
          <td>
            <input type="text" name="item_name" value="{{searchWord.item_name}}" size="30">
          </td>
          <td>
            <div><input type="submit" value="検索" ></div>
          </td>
        </table>
      </form>
    </div>

    <div id = "wrapper">
    <!-- 非ログイン/ログイン 共通部分 category_menu -->
      <section id = "category_menu"> 
      {% include 'category_menu.html.twig' %}
      </section>

    <!-- 非ログイン/ログイン 共通部分 item_list -->
      <section id="item_list">
        {% for value in dataArr %}
        <div class="item">
          <ul>
            <li class="image"><a href="{{constant('ECweb\\Bootstrap::ENTRY_URL_SHOP')}}detail_item.php?item_id={{value.item_id}}"><img class="photo" src="{{constant('ECweb\\Bootstrap::ENTRY_URL_SHOP')}}images/{{value.image}}" alt="{{value.item_name}}"></a></li>

            <li class="name"><a href="{{constant('ECweb\\Bootstrap::ENTRY_URL_SHOP')}}detail_item.php?item_id={{value.item_id}}">{{value.item_name}}</a></li>
            
            <li class="price">&yen;{{ value.price|number_format(0, '.', ',') }}</li>

            <li class="detail"><a href="{{constant('ECweb\\Bootstrap::ENTRY_URL_SHOP')}}detail_item.php?item_id={{value.item_id}}">詳細</a></li>
          </ul>
        </div>
        {% endfor %}
      </section>

      {# <div id= "page_nation">
      <ul>
      {% set k = pageArr.maxpage %}
      {% for i in range(1,k) %}
        <li><a href = "{{constant('ECweb\\Bootstrap::ENTRY_URL_SHOP')}}item_list.php?page=">{{ i }}</a></li>
      {% endfor %}
      </ul>
      </div> #}
    </div>

    <div id = "news">
      <div id= "oshirase">お知らせ</div>
        <div class="news_fetch">
        {% for value in newsArr %}
          <dl>
            <dt>{{value.release_date}}</dt>
            <dd>{{value.news}}</dl>
          </dl>
        {% endfor %}
      </div>
    </div>

    <div>
      {% include 'footer.html.twig' %}
    </div>
  </body>
</html>